/*////////////////////////////////////////////////////////////////
[ Background color ]*/

body {
  background: black;
}

/*////////////////////////////////////////////////////////////////
[ Fonts ]*/

@font-face {
  font-family: Lato-Thin;
  src: url('../fonts/Lato/Lato-Thin.ttf'); 
}

@font-face {
  font-family: Roboto-Black;
  src: url('../fonts/Roboto/Roboto-Black.ttf'); 
}

/*////////////////////////////////////////////////////////////////
[ Name & title ]*/

.container-my-name{
  position: absolute;
  margin: 0 auto;
  top: 8%;
  left: 0;
  right: 0;
  text-align: center;
}

.my-name{
  /* position: relative; */
  font-family: Roboto-Black;
  font-weight: bold;
  color: white;
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (min-width: 320px) {
  .my-name{ font-size: 8px; letter-spacing: 2px;}
}

/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
  .my-name{ font-size: 10px; letter-spacing: 3px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .my-name{ font-size: 12px; letter-spacing: 4px;}
} 

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .my-name{ font-size: 14px; letter-spacing: 5px;}
} 

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
  .my-name{ font-size: 16px; letter-spacing: 6px;}
}

/*////////////////////////////////////////////////////////////////
[ Coming Soon text ]*/

.container-coming-soon {
  position: absolute;
  margin: 0 auto;
  top: 20%;
  left: 0;
  right: 0;
  width: 60%;
  text-align: center;
}

.title-coming-soon {
  position: relative;
  text-align: center;
  font-family: Lato-Thin;
  line-height: 1.1;
  color: whitesmoke;
  text-transform: uppercase;
  letter-spacing: 25px;
  z-index: 3;
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (min-width: 320px) {
  .container-coming-soon {width: 80%;}
  .title-coming-soon { font-size: 24px; letter-spacing: 6px;}
}

/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
  .container-coming-soon {width: 80%;}
  .title-coming-soon { font-size: 30px; letter-spacing: 10px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container-coming-soon {width: 80%;}
  .title-coming-soon { font-size: 36px; letter-spacing: 12px;}
} 

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .container-coming-soon {width: 80%;}
  .title-coming-soon { font-size: 42px; letter-spacing: 14px;}
} 

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
  .container-coming-soon {width: 80%;}
  .title-coming-soon { font-size: 64px; letter-spacing: 18px;}
}

/*////////////////////////////////////////////////////////////////
[ Animation ]*/

#crossfade > img { 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  color: transparent;
  opacity: 0;
  z-index: 0;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;

  /* blur effect + black and white filter */
  filter: blur(2px) grayscale(1);
  -webkit-filter: blur(2px) grayscale(1);

  /* animation properties */
  -webkit-animation: imageAnimation 36s linear infinite 0s; 
  animation: imageAnimation 36s linear infinite 0s; 
}

/* first image */
#crossfade > img:nth-child(1)  {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; 

  filter: blur(2px) grayscale(1);
  -webkit-filter: blur(2px) grayscale(1);
}

/* second image */
#crossfade > img:nth-child(2)  {
  -webkit-animation-delay: 6s;
  animation-delay: 6s; 
}

/* third image */
#crossfade > img:nth-child(3) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s; 
}

/* fourth image */
#crossfade > img:nth-child(4) {
  -webkit-animation-delay: 18s;
  animation-delay: 18s; 
}

/* fifth image */
#crossfade > img:nth-child(5) {
  -webkit-animation-delay: 24s;
  animation-delay: 24s; 
}

/* sixth image */
#crossfade > img:nth-child(6) {
  -webkit-animation-delay: 30s;
  animation-delay: 30s; 
}


@-webkit-keyframes imageAnimation { 
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1; -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0 ; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in;}
    8% { opacity: 1 ; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out;}
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

/*////////////////////////////////////////////////////////////////
[ countdown ]*/

.container-countdown-box{
  position: absolute;
  margin: 0 auto;
  top: 35%;
  left: 0;
  right: 0;
}


/* Extra small devices (phones, 320px and down) */
@media only screen and (min-width: 320px) {
	.countdown-box {
		position: relative;
		padding: 5px;
    height: 50px;
    color: #FFF;
	}
	.countdown-content {
		width: 60%;
		height: 100%;
		margin: 0 auto;
		padding: 24px;
		
		-webkit-box-sizing: border-box;
            box-sizing: border-box;
            
		background-color: rgba(8, 8, 8, 0.6); 
    border-radius: 4px;
    
		-webkit-box-shadow: 0px 3px 30px -10px white;
		        box-shadow: 0px 3px 30px -10px white;
	
		display: -webkit-box;
		display: -ms-flexbox;
	
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
            flex-flow: column wrap;
            
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
            justify-content: center;
            
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	
	.countdown-item {
		display: -webkit-box;
		display: -ms-flexbox;
    display: flex;
    
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-flow: column wrap;
		        flex-flow: column wrap;
    -ms-flex-item-align: center;
        align-self: center;
	}
	
	.time-number {
    font-family: Roboto-Black;
    font-size: 20px;
    height: 68%;
	}
	
	.time-text {
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-size: 5px;
	}
}
  
/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
	.countdown-box {
		height: 110px;
	}

	.time-number {
		font-size: 40px;
	}
	
	.time-text {
		font-size: 8px;
	}	
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.countdown-box {
		height: 150px;
	}
	.time-number {
		font-size: 70px;
	}
	
	.time-text {
		font-size: 10px;
	}
} 
  
/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
	.countdown-box {
		height: 245px;
	}
	.time-number {
		font-size: 90px;
	}
	
	.time-text {
		font-size: 15px;
	}
} 
  
/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {

	.countdown-box {
		height: 245px;
	}
	
	.time-number {
		font-size: 120px;
	}
	
	.time-text {
		font-size: 20px;
	}
}

/*////////////////////////////////////////////////////////////////
[ Social media logos ]*/

.container-logos{
  position: absolute;
  margin: auto;
  right:0;
  bottom:0;
  left:0;
}

.container-box{
  position: relative;
}

.logo{
  width: 36px;
  height: 36px;

  display: -webkit-box;
	display: -ms-flexbox;
  display: flex;
  
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  
  justify-content: center;
  
	-ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
	        align-items: center;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.fa {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.social {

  color: white;
  font-size: 18px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50%;
}

.social:hover {
  background-color: white;
  color: black;
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (min-width: 320px) {
  .logo{
    width: 30px;
    height: 30px;
  }
  .fa {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 480px and up) */
@media only screen and (min-width: 480px) {
  .logo{
    width: 24px;
    height: 24px;
  }
  .fa {
    font-size: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo{
    width: 26px;
    height: 26px;
  }
  .fa {
    font-size: 12px;
  }
} 

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
  .logo{
    width: 28px;
    height: 28px;
  }
  .fa {
    font-size: 14px;
  }
} 

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
  .logo{
    width: 30px;
    height: 30px;
  }
  .fa {
    font-size: 16px;
  }
}